[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SAScii"]
	path = SAScii
	url = https://github.com/ajdamico/sascii
[submodule "convey"]
	path = convey
	url = https://github.com/ajdamico/convey
